<hibernate-configuration>
    <session-factory>

        <!--
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://myhostname:3306/mydatabasetest</property>
        <property name="connection.username">user</property>
        <property name="connection.password">password</property>     -->

        <!--<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>-->
        <!--<property name="hibernate.hikari.dataSourceClassName">com.mysql.jdbc.jdbc2.optional.MysqlDataSource</property>-->
        <!--<property name="hibernate.hikari.minimumPoolSize">2</property>-->
        <!--<property name="hibernate.hikari.maximumPoolSize">100</property>-->
        <!--<property name="hibernate.hikari.idleTimeout">30000</property>-->
        <!--<property name="hibernate.hikari.dataSource.url">jdbc:mysql://myhostname:3306/mydatabasetest</property>-->
        <!--<property name="hibernate.hikari.dataSource.user">user</property>-->
        <!--<property name="hibernate.hikari.dataSource.password">password</property>-->
        <!--<property name="hibernate.hikari.dataSource.cachePrepStmts">true</property>-->
        <!--<property name="hibernate.hikari.dataSource.prepStmtCacheSize">250</property>-->
        <!--<property name="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</property>-->
        <!--<property name="hibernate.hikari.dataSource.useServerPrepStmts">true</property>-->

        <property name="dialect" value="org.hibernate.spatial.dialect.postgis.PostgisDialect"/>

        <!--<property name="current_session_context_class">thread</property>-->
        <!--<property name="show_sql">true</property>-->
        <!--<property name="hbm2ddl.auto">validate</property>-->
        <!--<mapping class="org.test.model.MyProject"/>-->
    </session-factory>
</hibernate-configuration>