<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Customers</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="input-group custom-search-form">
                <input ng-model="search.name" type="text" class="form-control" placeholder="Search: Max Mustermann" sg-enter="searchByName(search.name)">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="searchByName(search.name)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="input-group custom-search-form">
                <input ng-model="search.login" type="text" class="form-control" placeholder="Search: customers@email.com" sg-enter="searchByLogin(search.login)">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="searchByLogin(search.login)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
        </div>
        <div class=" col-md-2">
            <button class="btn btn-warning btn-block" type="button" ng-click="resetCustomers()">Reset</button>
        </div>
    </div>

    <div class="table-responsive voffset6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Customer-ID</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Activated</th>
                <th>Birthday</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="customer in customers">
                <td>{{customer.customerId}}</td>
                <td>{{customer.firstname}} {{customer.lastname}}</td>
                <td>{{customer.login}}</td>
                <!--toggleActivation(customer.customerId)-->
                <td class="text-center"><button class="btn btn-sm" type="button" ng-click="toggleActivation(customer.userId, customer.isActivated)">{{customer.isActivated | occupiedFilter}}</button></td>
                <td>{{customer.birthday | date:'shortDate'}}</td>
                <td><a ui-sref="customerDetail({login:'{{customer.login}}'})">Details</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
