<div>

    <h2 translate="customerDetail.title" translate-values="{firstname: '{{customer.firstname}}', lastname: '{{customer.lastname}}'}">Customer: {{customer.firstname}} {{customer.lastname}}</h2>

    <div ng-switch="isEditing">
        <button type="button" ui-sref="customers" class="btn btn-default" ng-disabled="isEditing">
            <span class="glyphicon glyphicon-arrow-left"></span> <span translate="customerDetail.buttons.back"> Back</span></button>
        <button type="button" ng-switch-when="false" ng-click="toggleEdit()" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="customerDetail.buttons.edit"> Edit Customer</span></button>
        <button type="button" ng-switch-when="true" ng-click="toggleEdit()" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="customerDetail.buttons.cancel"> Cancel</span></button>
        <button type="button" ng-click="saveCustomer()" class="btn btn-primary" ng-show="isEditing">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="customerDetail.buttons.save"> Save Customer</span></button>
    </div>

    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength form-horizontal"
          ng-submit="create()" ng-switch="isEditing">
        <div class="panel-body">
            <div class="form-group" show-errors>
                <label class="control-label col-md-2" translate="customerCreate.table.header.customerId">Customer ID</label>
                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="customerIdValue">{{customer.customerId}}</div>
                    <input type="text" class="form-control" name="customerId" ng-disabled="true"
                           placeholder="{{'customerCreate.table.placeholders.customerId' | translate}}"
                           ng-model="customer.customerId" ng-minlength=1 ng-maxlength=50 required ng-switch-when="true">
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label col-md-2" translate="customerCreate.table.header.login">Login</label>
                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false"  name="loginValue">{{customer.login}}</div>
                    <input type="text" class="form-control" name="login"
                           placeholder="{{'customerCreate.table.placeholders.login' | translate}}"
                           ng-model="customer.login" ng-minlength=1 ng-maxlength=50 required
                            ng-switch-when="true">
                </div>
            </div>
            <div class="form-group" ng-switch-when="true">
                <label class="control-label col-md-2" translate="customerCreate.table.header.password">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" name="password"
                           placeholder="{{'customerCreate.table.placeholders.password' | translate}}"
                           ng-model="customer.password" ng-minlength=1 ng-maxlength=50 required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" translate="customerCreate.table.header.tariff">Tariff</label>
                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="tariff">{{customer.tariff}}</div>
                    <select class="form-control" ng-model="customer.tariff"
                            ng-options="tariff as tariff for tariff in tariffs" required ng-switch-when="true">
                    </select>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label class="control-label col-md-2" translate="customerCreate.table.header.cardId">Card ID</label>
                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="cardIdValue">{{customer.cardId}}</div>
                    <input type="text" class="form-control" name="cardId"
                           placeholder="{{'customerCreate.table.placeholders.cardId' | translate}}"
                           ng-model="customer.cardId" ng-minlength=1 ng-maxlength=50 required ng-switch-when="true">
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label col-md-2" translate="customerCreate.table.header.cardPin">Card PIN</label>
                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="cardPinValue">{{customer.cardPin}}</div>
                    <input type="text" class="form-control" name="cardPin"
                           placeholder="{{'customerCreate.table.placeholders.cardPin' | translate}}"
                           ng-model="customer.cardPin" ng-minlength=4 ng-maxlength=4 required ng-switch-when="true">
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label col-md-2" translate="customerCreate.table.header.name">Name</label>
                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="firstnameValue">{{customer.firstname}}</div>
                    <input type="text" class="form-control" name="firstname"
                           placeholder="{{'customerCreate.table.placeholders.firstname' | translate}}"
                           ng-model="customer.firstname" ng-minlength=1 ng-maxlength=50 required ng-switch-when="true">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="lastnameValue">{{customer.lastname}}</div>
                    <input type="text" class="form-control voffset1" name="lastname"
                           placeholder="{{'customerCreate.table.placeholders.lastname' | translate}}"
                           ng-model="customer.lastname" ng-minlength=1 ng-maxlength=50 required ng-switch-when="true">
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-md-2" translate="customerCreate.table.header.address.title">Address</label>
                <div class="col-md-10">

                    <div class="well well-sm remove-margin" ng-switch-when="false" name="addressValue">{{customer.address.streetAndHousenumber + ', '
                        + customer.address.zip + ', ' + customer.address.city + ', ' + customer.address.country}}</div>
                    <div  ng-switch-when="true">
                        <div class="form-group" show-errors>
                            <label class="control-label col-md-2" translate="customerCreate.table.header.address.streetAndHousenumber">Street and Housenumber</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="streetAndHousenumber"
                                       placeholder="{{'customerCreate.table.placeholders.streetAndHousenumber' | translate}}"
                                       ng-model="customer.address.streetAndHousenumber" ng-minlength=1 ng-maxlength=50 required>
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <label class="control-label col-md-2" translate="customerCreate.table.header.address.zip">ZIP</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="zip"
                                       placeholder="{{'customerCreate.table.placeholders.zip' | translate}}"
                                       ng-model="customer.address.zip" ng-minlength=1 ng-maxlength=50 required>
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <label class="control-label col-md-2" translate="customerCreate.table.header.address.city">City</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="city"
                                       placeholder="{{'customerCreate.table.placeholders.city' | translate}}"
                                       ng-model="customer.address.city" ng-minlength=1 ng-maxlength=50 required>
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <label class="control-label col-md-2" translate="customerCreate.table.header.address.country">Country</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="country"
                                       placeholder="{{'customerCreate.table.placeholders.country' | translate}}"
                                       ng-model="customer.address.country" ng-minlength=1 ng-maxlength=50 required>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-md-2" translate="customerCreate.table.header.birthday">Birthday</label>
                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="birthdayValue">{{customer.birthday | date: 'mediumDate'}}</div>
                    <input class="dateSelector col-md-8" date-select name="birthday" model="customer.birthday" required ng-switch-when="true">
                </div>
                <!--<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="customer.birthday" is-open="opened"-->
                <!--max-date="{{maxDate}}" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" datepicker-mode="year"/>-->
                <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                <!--</span>-->

            </div>
            <div class="form-group">
                <label class="control-label col-md-2" translate="customerCreate.table.header.isActivated">
                    Is Activated?
                </label>
                <div class="col-md-10">
                    <input type="checkbox" name="isActivated" ng-model="customer.isActivated" ng-disabled="!isEditing">
                </div>
            </div>
        </div>
    </form>

    <h3 translate="customerDetail.transactions.title">Transactions:</h3>

    <div class="form-inline">
        <span translate="customerDetail.transactions.numberOfTransactions">
            Number of transactions to display:
        </span>

        <select type="text"
                ng-model="resultSize"
                ng-options="value for value in resultSizeValues"
                class="form-control"
                ng-change="updateTransactions()">
        </select>
    </div>

    <div class="table-responsive voffset3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="customerDetail.transactions.table.header.pedelec">Pedelec</th>
                <th translate="customerDetail.transactions.table.header.startTime">Start Time</th>
                <th translate="customerDetail.transactions.table.header.endTime">End Time</th>
                <th translate="customerDetail.transactions.table.header.fromLocation">From Location</th>
                <th translate="customerDetail.transactions.table.header.toLocation">To Location</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class='{warning:transaction.toStation.stationId == null}'  ng-repeat="transaction in transactions">
                <td>{{transaction.pedelec.manufacturerId}}</td>
                <td>{{transaction.startDateTime | date:'medium'}}</td>
                <td><span ng-hide="transaction.toStation.stationId == null">{{transaction.endDateTime | date:'medium'}}</span></td>
                <td>{{transaction.fromStation.name}} <span class="badge">{{transaction.fromStation.slotPosition}}</span></td>
                <td>
                    <span ng-hide="transaction.toStation.stationId == null">{{transaction.toStation.name}} <span class="badge">{{transaction.toStation.slotPosition}}</span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>