<div>

    <h2 translate="customerDetail.title" translate-values="{firstname: '{{customer.firstname}}', lastname: '{{customer.lastname}}'}">Customer: {{customer.firstname}} {{customer.lastname}}</h2>

    <div ng-switch="isEditing">
        <button type="button" ui-sref="customers" class="btn btn-default" ng-disabled="isEditing">
            <span class="glyphicon glyphicon-arrow-left"></span> <span translate="customerDetail.buttons.back"> Back</span></button>
        <button type="button" ng-switch-when="false" ng-click="toggleEdit()" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="customerDetail.buttons.edit"> Edit Customer</span></button>
        <button type="button" ng-switch-when="true" ng-click="toggleEdit()" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="customerDetail.buttons.cancel"> Cancel</span></button>
        <button type="button" ng-click="saveCustomer()" class="btn btn-primary" ng-show="isEditing">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="customerDetail.buttons.save"> Save Customer</span></button>
    </div>

    <div class="table-responsive voffset3">
        <table class="table" ng-switch="isEditing">
            <tr>
                <th translate="customerDetail.table.header.login">Login</th>
                <td ng-switch-when="false">{{customer.login}}</td>
                <td ng-switch-when="true"><input type="text" class="form-control" ng-model="customer.login"></td>
            </tr>
            <tr>
                <th translate="customerDetail.table.header.name">Name</th>
                <td ng-switch-when="false">{{customer.firstname}} {{customer.lastname}}</td>
                <td ng-switch-when="true">
                    <input type="text" class="form-control" ng-model="customer.firstname">
                    <input type="text" class="form-control voffset1" ng-model="customer.lastname">
                </td>
            </tr>
            <tr>
                <th translate="customerDetail.table.header.address">Address</th>
                <td ng-switch-when="false">{{customer.address.streetAndHousenumber + ', ' + customer.address.zip + ', ' + customer.address.city + ', ' + customer.address.country}}</td>
                <td ng-switch-when="true">
                    <label translate="customerDetail.table.body.address.streetAndHousenumber">Street and Housenumber</label>
                    <input type="text" class="form-control" ng-model="customer.address.streetAndHousenumber">
                    <label class="voffset2" translate="customerDetail.table.body.address.zip">ZIP</label>
                    <input type="text" class="form-control" ng-model="customer.address.zip">
                    <label class="voffset2" translate="customerDetail.table.body.address.city">City</label>
                    <input type="text" class="form-control" ng-model="customer.address.city">
                    <label class="voffset2" translate="customerDetail.table.body.address.country">Country</label>
                    <input type="text" class="form-control" ng-model="customer.address.country">
            </tr>
            <tr>
                <th translate="customerDetail.table.header.customerId">Customer ID</th>
                <td>{{customer.customerId}}</td>
            </tr>
            <tr>
                <th translate="customerDetail.table.header.cardId">Card ID</th>
                <td ng-switch-when="false">{{customer.cardId}}</td>
                <td ng-switch-when="true"><input type="text" class="form-control" ng-model="customer.cardId"></td>
            </tr>
            <tr>
                <th translate="customerDetail.table.header.birthday">Birthday</th>
                <td ng-switch-when="false">{{customer.birthday | date: 'mediumDate'}}</td>
                <td ng-switch-when="true" class="input-group"><input date-select model="customer.birthday"></td>
                <!--<td ng-switch-when="true" class="input-group"><input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="customer.birthday" is-open="$parent.isOpen" max-date="{{maxDate}}" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" datepicker-mode="year"/>-->
                        <!--<span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                        <!--</span></td>-->
            </tr>
            <tr>
                <th translate="customerDetail.table.header.isActivated">Activated</th>
                <td ng-switch-when="false">{{customer.isActivated | occupiedFilter}}</td>
                <td ng-switch-when="true"><input type="checkbox" ng-model="customer.isActivated"></td>
            </tr>
        </table>
    </div>

    <h3 translate="customerDetail.transactions.title">Transactions:</h3>

    <div class="form-inline">
        <span translate="customerDetail.transactions.numberOfTransactions">
            Number of transactions to display:
        </span>

        <select type="text"
                ng-model="resultSize"
                ng-options="value for value in resultSizeValues"
                class="form-control"
                ng-change="updateTransactions()">
        </select>
    </div>

    <div class="table-responsive voffset3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="customerDetail.transactions.table.header.pedelec">Pedelec</th>
                <th translate="customerDetail.transactions.table.header.startTime">Start Time</th>
                <th translate="customerDetail.transactions.table.header.endTime">End Time</th>
                <th translate="customerDetail.transactions.table.header.fromLocation">From Location</th>
                <th translate="customerDetail.transactions.table.header.toLocation">To Location</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class='{warning:transaction.toStation.stationId == null}'  ng-repeat="transaction in transactions">
                <td>{{transaction.pedelec.manufacturerId}}</td>
                <td>{{transaction.startDateTime | date:'medium'}}</td>
                <td><span ng-hide="transaction.toStation.stationId == null">{{transaction.endDateTime | date:'medium'}}</span></td>
                <td>{{transaction.fromStation.name}} <span class="badge">{{transaction.fromStation.slotPosition}}</span></td>
                <td>
                    <span ng-hide="transaction.toStation.stationId == null">{{transaction.toStation.name}} <span class="badge">{{transaction.toStation.slotPosition}}</span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>