<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Transactions</h1>
        </div>
    </div>

    <h5>Search customer with name or email address:</h5>

    <div class="row">
        <div class="col-md-4">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
        </div>
    </div>


    <div class="table-responsive voffset5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>State</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pedelec in pedelecs">
                <td>{{customer.customerName}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.state}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
