<div>

    <h2>Customer: {{customer.firstname}} {{customer.lastname}}</h2>

    <div ng-switch="isEditing">
        <button type="button" ui-sref="customers" class="btn btn-default" ng-disabled="isEditing"><span class="glyphicon glyphicon-arrow-left"></span>Back</button>
        <button type="button" ng-switch-when="false" ng-click="toggleEdit()" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span>Edit Customer</button>
        <button type="button" ng-switch-when="true" ng-click="toggleEdit()" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span>Cancel</button>
        <button type="button" ng-click="saveCustomer()" class="btn btn-primary" ng-show="isEditing">
            <span class="glyphicon glyphicon-pencil"></span>Save Customer</button>
    </div>

    <div class="table-responsive">
        <table class="table" ng-switch="isEditing">
            <tr>
                <th>Login</th>
                <td ng-switch-when="false">{{customer.login}}</td>
                <td ng-switch-when="true"><input type="text" class="form-control" ng-model="customer.login"></td>
            </tr>
            <tr>
                <th>Name</th>
                <td ng-switch-when="false">{{customer.firstname}} {{customer.lastname}}</td>
                <td ng-switch-when="true">
                    <input type="text" class="form-control" ng-model="customer.firstname">
                    <input type="text" class="form-control" ng-model="customer.lastname">
                </td>
            </tr>
            <tr>
                <th>Address</th>
                <td ng-switch-when="false">{{customer.address.streetAndHousenumber + ', ' + customer.address.zip + ', ' + customer.address.city + ', ' + customer.address.country}}</td>
                <td ng-switch-when="true">
                    Street Address: <input type="text" class="form-control" ng-model="customer.address.streetAndHousenumber">
                    ZIP: <input type="text" class="form-control" ng-model="customer.address.zip">
                    City: <input type="text" class="form-control" ng-model="customer.address.city">
                    Country: <input type="text" class="form-control" ng-model="customer.address.country">
            </tr>
            <tr>
                <th>Customer ID</th>
                <td>{{customer.customerId}}</td>
            </tr>
            <tr>
                <th>Card ID</th>
                <td ng-switch-when="false">{{customer.cardId}}</td>
                <td ng-switch-when="true"><input type="text" class="form-control" ng-model="customer.cardId"></td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td ng-switch-when="false">{{customer.birthday | date: 'shortDate'}}</td>
                <td ng-switch-when="true"><input type="text" class="form-control" ng-model="customer.birthday"></td>
            </tr>
            <tr>
                <th>Activated</th>
                <td ng-switch-when="false">{{customer.isActivated | occupiedFilter}}</td>
                <td ng-switch-when="true"><input type="checkbox" ng-model="customer.isActivated"></td>
            </tr>
        </table>
    </div>

    <h3>Transactions:</h3>

    <div class="table-responsive voffset3">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th>Customer</th>-->
                <th>Pedelec</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>From Location</th>
                <th>To Location</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class='{warning:transaction.toStation.stationId == null}'  ng-repeat="transaction in transactions">
                <!--<td>{{transaction.customer.lastname}}, {{transaction.customer.firstname}}</td>-->
                <td>{{transaction.pedelec.manufacturerId}}</td>
                <td>{{transaction.startDateTime | date:'short'}}</td>
                <td><span ng-hide="transaction.toStation.stationId == null">{{transaction.endDateTime | date:'short'}}</span></td>
                <td>{{transaction.fromStation.name}} ({{transaction.fromStation.slotPosition}})</td>
                <td>
                    <span ng-hide="transaction.toStation.stationId == null">{{transaction.toStation.name}} ({{transaction.toStation.slotPosition}})
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>