<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Fleetmanager</h1>
        </div>
    </div>

    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
          ng-submit="create()">

        <div class="panel-body">

            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" name="test"
                       ng-model="fleetmanager.login" ng-minlength=1 ng-maxlength=50 placeholder="manager@velocity.de" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="test"
                       ng-model="fleetmanager.password" ng-minlength=1 ng-maxlength=50 placeholder="******" required>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span> Save
            </button>
        </div>
    </form>
</div>