<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" translate="fleetmanagerCreate.title">Create Fleetmanager</h1>
        </div>
    </div>

    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
          ng-submit="create()">

        <div class="panel-body">
            <table class="table">
                <tr>
                    <th><label translate="fleetmanagerCreate.table.header.login">Login</label></th>
                    <td><input type="text" class="form-control" name="test"
                           ng-model="fleetmanager.login" ng-minlength=1 ng-maxlength=50
                           placeholder="{{ 'fleetmanagerCreate.table.placeholders.login' | translate }}" required></td>
                </tr>

                <tr>
                    <th><label translate="fleetmanagerCreate.table.header.password">Password</label></th>
                    <td><input type="password" class="form-control" name="test"
                           ng-model="fleetmanager.password" ng-minlength=1 ng-maxlength=50
                           placeholder="{{ 'fleetmanagerCreate.table.placeholders.password' | translate }}" required></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>
                <span translate="fleetmanagerCreate.buttons.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>
                <span translate="fleetmanagerCreate.buttons.save">Save</span>
            </button>
        </div>
    </form>
</div>