<div ng-cloak>
    <div class="row">
        <div class="col-md-8">
            <h1 translate="main.title">Welcome to Velocity!</h1>


            <div ng-switch="authenticated">
                <div class="alert" ng-switch-when="true"
                     translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "Admin".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="main.logged.authenticated">
                    If you want to <a ui-sref="login">authenticate</a>, you can try the default login="admin" and
                    password="admin".
                </div>
            </div>
        </div>
    </div>
</div>
