<div>

    <h2 translate="majorcustomerDetail.title" translate-values="{firstname: '{{majorcustomer.firstname}}', lastname: '{{majorcustomer.lastname}}'}">Major Customer: {{majorcustomer.name}}</h2>

    <div ng-switch="isEditing">
        <button type="button" ui-sref="majorcustomers" class="btn btn-default" ng-disabled="isEditing">
            <span class="glyphicon glyphicon-arrow-left"></span> <span translate="majorcustomerDetail.buttons.back"> Back</span></button>
        <button type="button" ng-switch-when="false" ng-click="toggleEdit()" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="majorcustomerDetail.buttons.edit"> Edit Major Customer</span></button>
        <button type="button" ng-switch-when="true" ng-click="toggleEdit()" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="majorcustomerDetail.buttons.cancel"> Cancel</span></button>
        <button type="button" ng-click="saveMajorcustomer()" class="btn btn-primary" ng-show="isEditing">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="majorcustomerDetail.buttons.save"> Save Major Customer</span></button>
    </div>

    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength form-horizontal"
          ng-submit="create()" ng-switch="isEditing">
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-md-2" translate="majorcustomerCreate.table.header.login">Login</label>
                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false"  name="loginValue">{{majorcustomer.login}}</div>
                    <input type="text" class="form-control" name="login"
                           placeholder="{{'majorcustomerCreate.table.placeholders.login' | translate}}"
                           ng-model="majorcustomer.login" ng-minlength=1 ng-maxlength=50 required
                           ng-switch-when="true">
                </div>
            </div>
            <div class="form-group" ng-switch-when="true">
                <label class="control-label col-md-2" translate="majorcustomerCreate.table.header.password">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" name="password"
                           placeholder="{{'majorcustomerCreate.table.placeholders.password' | translate}}"
                           ng-model="majorcustomer.password" ng-minlength=1 ng-maxlength=50 required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" translate="majorcustomerCreate.table.header.name">Name</label>
                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="nameValue">{{majorcustomer.name}}</div>
                    <input type="text" class="form-control" name="name"
                           placeholder="{{'majorcustomerCreate.table.placeholders.name' | translate}}"
                           ng-model="majorcustomer.name" ng-minlength=1 ng-maxlength=50 required ng-switch-when="true">
                </div>
            </div>
        </div>
    </form>

    <h3 translate="majorcustomerDetail.cardaccounts.title">Card Accounts:</h3>

    <div class="table-responsive voffset3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="majorcustomerDetail.cardaccounts.table.header.cardId">Card ID</th>
                <th translate="majorcustomerDetail.cardaccounts.table.header.cardPin">Card PIN</th>
                <th translate="majorcustomerDetail.cardaccounts.table.header.inTransaction">In Transaction</th>
                <th translate="majorcustomerDetail.cardaccounts.table.header.operationState">Operation State</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class='{warning:transaction.toStation.stationId == null}'  ng-repeat="cardaccount in majorcustomer.cardAccountDTOs">
                <td>{{cardaccount.cardId}}</td>
                <td>{{cardaccount.cardPin}}</td>
                <td>{{cardaccount.inTransaction | occupiedFilter}}</td>
                <td>{{cardaccount.operationState}}</td>
                <td>
                    <!--<button type="button" class="btn btn-sm" ng-click="updateCardAccount(cardaccount)"><span class="glyphicon glyphicon-wrench"></span>-->
                        <!--<span translate="majorCustomerDetail.cardaccounts.table.buttons.edit">Edit</span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>