<div>

    <h2 translate="majorcustomerDetail.title"
        translate-values="{firstname: '{{majorcustomer.firstname}}', lastname: '{{majorcustomer.lastname}}'}">Major
        Customer: {{majorcustomer.name}}</h2>

    <div ng-switch="isEditing">
        <button type="button" ui-sref="majorcustomers" class="btn btn-default" ng-disabled="isEditing">
            <span class="glyphicon glyphicon-arrow-left"></span> <span translate="majorcustomerDetail.buttons.back"> Back</span>
        </button>
        <button type="button" ng-switch-when="false" ng-click="toggleEdit()" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="majorcustomerDetail.buttons.edit"> Edit Major Customer</span>
        </button>
        <button type="button" ng-switch-when="true" ng-click="toggleEdit()" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="majorcustomerDetail.buttons.cancel"> Cancel</span>
        </button>
        <button type="button" ng-click="saveMajorcustomer()" class="btn btn-primary" ng-show="isEditing">
            <span class="glyphicon glyphicon-pencil"></span> <span translate="majorcustomerDetail.buttons.save"> Save Major Customer</span>
        </button>

        <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">
            <span class="glyphicon glyphicon-flash"></span>
            <span translate="cardaccounts.buttons.add">Add Card Account</span>
        </button>
    </div>

    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength form-horizontal"
          ng-submit="create()" ng-switch="isEditing">
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-md-2" translate="majorcustomerCreate.table.header.login">Login</label>

                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="loginValue">
                        {{majorcustomer.login}}
                    </div>
                    <input type="text" class="form-control" name="login"
                           placeholder="{{'majorcustomerCreate.table.placeholders.login' | translate}}"
                           ng-model="majorcustomer.login" ng-minlength=1 ng-maxlength=50 required
                           ng-switch-when="true">
                </div>
            </div>
            <div class="form-group" ng-switch-when="true">
                <label class="control-label col-md-2"
                       translate="majorcustomerCreate.table.header.password">Password</label>

                <div class="col-md-10">
                    <input type="password" class="form-control" name="password"
                           placeholder="{{'majorcustomerCreate.table.placeholders.password' | translate}}"
                           ng-model="majorcustomer.password" ng-minlength=1 ng-maxlength=50 required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" translate="majorcustomerCreate.table.header.name">Name</label>

                <div class="col-md-10">
                    <div class="well well-sm remove-margin" ng-switch-when="false" name="nameValue">
                        {{majorcustomer.name}}
                    </div>
                    <input type="text" class="form-control" name="name"
                           placeholder="{{'majorcustomerCreate.table.placeholders.name' | translate}}"
                           ng-model="majorcustomer.name" ng-minlength=1 ng-maxlength=50 required ng-switch-when="true">
                </div>
            </div>
        </div>
    </form>

    <h3 translate="majorcustomerDetail.cardaccounts.title">Card Accounts:</h3>

    <div class="table-responsive voffset3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="majorcustomerDetail.cardaccounts.table.header.cardId">Card ID</th>
                <th translate="majorcustomerDetail.cardaccounts.table.header.cardPin">Card PIN</th>
                <th translate="majorcustomerDetail.cardaccounts.table.header.inTransaction">In Transaction</th>
                <th translate="majorcustomerDetail.cardaccounts.table.header.operationState">Operation State</th>
                <th translate="customerCreate.table.header.tariff">Tariff</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class='{warning:transaction.toStation.stationId == null}'
                ng-repeat="cardaccount in majorcustomer.cardAccountDTOs | orderBy: 'cardId'">
                <td>{{cardaccount.cardId}}</td>
                <td>{{cardaccount.cardPin}}</td>
                <td>{{cardaccount.inTransaction | occupiedFilter}}</td>
                <td>
                    <button class="btn" ng-class="(cardaccount.operationState == 'OPERATIVE') ? 'btn-default' : ''"
                            ng-click="toggleCardAccount(cardaccount)">{{cardaccount.operationState}}
                    </button>
                </td>
                <td>
                    {{cardaccount.tariff}}
                </td>
                <td>
                    <!--<button type="button" class="btn btn-sm" ng-click="updateCardAccount(cardaccount)"><span class="glyphicon glyphicon-wrench"></span>-->
                    <!--<span translate="majorCustomerDetail.cardaccounts.table.buttons.edit">Edit</span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="form-horizontal ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="addCardAccount()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" translate="cardaccounts.addModal.title">Add Card Account</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" translate="cardaccounts.addModal.cardId">Card ID</label>
                            <input type="text" class="form-control" ng-model="newCardaccount.cardId" ng-minlength="1">
                        </div>
                        <div class="form-group">
                            <label class="control-label" translate="cardaccounts.addModal.cardPin">Card PIN</label>
                            <input type="text" class="form-control" ng-model="newCardaccount.cardPin" ng-minlength="4"
                                   ng-maxlength="4">
                        </div>
                        <div class="form-group">
                            <label class="control-label" translate="customerCreate.table.header.tariff">Tariff</label>
                            <select class="form-control" ng-model="newCardaccount.tariff"
                                    ng-options="tariff as tariff for tariff in tariffs" required>
                                <option value=''>- Please Choose -</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()"
                                translate="cardaccounts.addModal.buttons.cancel">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary"
                                translate="cardaccounts.addModal.buttons.add">
                            Add
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>
