<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" translate="pedelecs.title">Pedelecs</h1>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th translate="pedelecs.table.header.manufacturerId">Manufacturer ID</th>
                    <th translate="pedelecs.table.header.stateOfCharge">State of Charge</th>
                    <th translate="pedelecs.table.header.state">State</th>
                    <th translate="pedelecs.table.header.station">Station (Slot)</th>
                    <th translate="pedelecs.table.header.customer">Customer</th>
                    <th translate="pedelecs.table.header.lastChargingUpdate">Last Charging Update</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pedelec in pedelecs | orderBy:'-lastChargingUpdate'">
                    <td>{{pedelec.manufacturerId}}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{pedelec.stateOfCharge}}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{pedelec.stateOfCharge}}%;">
                                &nbsp;{{pedelec.stateOfCharge}} %
                            </div>
                        </div>
                    </td>
                    <td>{{pedelec.state}}</td>
                    <!--<td>{{pedelec.station.stationManufacturerId}} <span class="badge">{{pedelec.station.stationSlotPosition}}</span></td>-->
                    <td><a ui-sref="stationDetail({stationId: pedelec.station.id})"><span ng-hide="pedelec.station.stationName == null">{{pedelec.station.stationName}} <span class="badge">{{pedelec.station.stationSlotPosition}}</span></span></a></td>
                    <td ng-if="!pedelec.transaction.majorCustomerName">{{pedelec.transaction.firstname + " " + pedelec.transaction.lastname}}</td>
                    <td ng-if="pedelec.transaction.majorCustomerName">{{pedelec.transaction.majorCustomerName}}</td>
                    <td>{{pedelec.lastChargingUpdate | date:'medium'}}</td>
                    <td>
                        <button type="button" class="btn btn-info pull-right" ui-sref="pedelecDetail({pedelecId:{{pedelec.pedelecId}}})">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span translate="pedelecs.table.body.details">Details</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
