<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pedelecs</h1>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Manufacturer ID</th>
                    <th>State of Charge</th>
                    <th>State</th>
                    <th>Station (Slot)</th>
                    <th>Customer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pedelec in pedelecs">
                    <td>{{pedelec.manufacturerId}}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{pedelec.stateOfCharge*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pedelec.stateOfCharge*100}}%;">
                                {{pedelec.stateOfCharge*100 | number : 0}}%
                            </div>
                        </div>
                    </td>
                    <td>{{pedelec.state}}</td>
                    <td>{{pedelec.station.stationManufacturerId}} <span class="badge">{{pedelec.station.stationSlotPosition}}</span></td>
                    <td>{{pedelec.transaction.firstname + " " + pedelec.transaction.lastname}}</td>
                    <td>
                        <a ui-sref="pedelecDetail({pedelecId:{{pedelec.pedelecId}}})">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
