<div>

    <h2>Pedelec: {{pedelec.manufacturerId}}</h2>

    <div ng-switch="isEditing">
        <button type="button" ui-sref="pedelecs" class="btn btn-default" ng-disabled="isEditing"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
        <button type="button" ng-switch-when="false" ng-click="toggleEdit()" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span> Edit Pedelec</button>
        <button type="button" ng-switch-when="true" ng-click="toggleEdit()" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span> Cancel</button>
        <button type="button" ng-click="savePedelec()" class="btn btn-primary" ng-show="isEditing">
            <span class="glyphicon glyphicon-pencil"></span> Save Pedelec</button>
    </div>

    <div class="table-responsive voffset3">
        <table class="table" ng-switch="isEditing">
            <tr>
                <th>Manufacturer ID</th>
                <td >{{pedelec.manufacturerId}}</td>
            </tr>
            <tr>
                <th>State Of Charge</th>
                <td >
                    <div class="progress remove-margin">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{pedelec.stateOfCharge*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pedelec.stateOfCharge*100}}%;">
                            {{pedelec.stateOfCharge*100 | number : 0}}%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>State</th>
                <td ng-switch-when="false">{{pedelec.state}}</td>
                <td ng-switch-when="true">
                    <select type="text"
                            ng-model="pedelec.state">
                        <option value="OPERATIVE">OPERATIVE</option>
                        <option value="INOPERATIVE">INOPERATIVE</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>In Transaction</th>
                <td>{{pedelec.inTransaction | occupiedFilter}}</td>
            </tr>
        </table>
    </div>

    <h3>Transactions:</h3>

    <div class="table-responsive voffset3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Customer</th>
                <th>Pedelec</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>From Location</th>
                <th>To Location</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class='{warning:$first && pedelec.inTransaction}'  ng-repeat="transaction in transactions">
                <td>{{transaction.customer.lastname}}, {{transaction.customer.firstname}}</td>
                <td>{{transaction.pedelec.manufacturerId}}</td>
                <td>{{transaction.startDateTime | date:'short'}}</td>
                <td><span ng-show="!pedelec.inTransaction || !$first">{{transaction.endDateTime | date:'short'}}</span></td>
                <td>{{transaction.fromStation.name}} ({{transaction.fromStation.slotPosition}})</td>
                <td>
                    <span ng-show="!pedelec.inTransaction || !$first">{{transaction.toStation.name}} ({{transaction.toStation.slotPosition}})
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>