<div>

    <h2 translate="pedelecDetail.title" translate-values="{manufacturerId: '{{ pedelec.manufacturerId }}'}">Pedelec: {{pedelec.manufacturerId}}</h2>

    <div ng-switch="isEditing">
        <button type="button" ui-sref="pedelecs" class="btn btn-default" ng-disabled="isEditing">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span translate="pedelecDetail.buttons.back"> Back</span>
        </button>
        <button type="button" ng-switch-when="false" ng-click="toggleEdit()" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
            <span translate="pedelecDetail.buttons.edit">Edit Pedelec</span>
        </button>
        <button type="button" ng-switch-when="true" ng-click="toggleEdit()" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span>
            <span translate="pedelecDetail.buttons.cancel">Cancel</span>
        </button>
        <button type="button" ng-click="savePedelec()" class="btn btn-primary" ng-show="isEditing">
            <span class="glyphicon glyphicon-pencil"></span>
            <span translate="pedelecDetail.buttons.save">Save Pedelec</span>
        </button>
    </div>

    <div class="table-responsive voffset3">
        <table class="table" ng-switch="isEditing">
            <tr>
                <th translate="pedelecDetail.table.header.manufacturerId">Manufacturer ID</th>
                <td >{{pedelec.manufacturerId}}</td>
            </tr>
            <tr>
                <th translate="pedelecDetail.table.header.stateOfCharge">State Of Charge</th>
                <td >
                    <div class="progress remove-margin">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{pedelec.stateOfCharge*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pedelec.stateOfCharge*100}}%;">
                            {{pedelec.stateOfCharge*100 | number : 0}}%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th translate="pedelecDetail.table.header.state">State</th>
                <td ng-switch-when="false">{{pedelec.state}}</td>
                <td ng-switch-when="true">
                    <select type="text" class="form-control"
                            ng-model="pedelec.state">
                        <option value="OPERATIVE">OPERATIVE</option>
                        <option value="INOPERATIVE">INOPERATIVE</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th translate="pedelecDetail.table.header.inTransaction">In Transaction</th>
                <td>{{pedelec.inTransaction | occupiedFilter}}</td>
            </tr>
        </table>
    </div>

    <h3 translate="pedelecDetail.transactions.title">Transactions:</h3>

    <div class="form-inline">
        <span translate="pedelecDetail.transactions.numberOfTransactions">
            Number of transactions to display:
        </span>

        <select type="text"
                ng-model="resultSize"
                ng-options="value for value in resultSizeValues"
                class="form-control"
                ng-change="updateTransactions()">
        </select>
    </div>

    <div class="table-responsive voffset3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="pedelecDetail.transactions.table.header.customer">Customer</th>
                <th translate="pedelecDetail.transactions.table.header.pedelec">Pedelec</th>
                <th translate="pedelecDetail.transactions.table.header.startTime">Start Time</th>
                <th translate="pedelecDetail.transactions.table.header.endTime">End Time</th>
                <th translate="pedelecDetail.transactions.table.header.fromLocation">From Location</th>
                <th translate="pedelecDetail.transactions.table.header.toLocation">To Location</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class='{warning:$first && pedelec.inTransaction}'  ng-repeat="transaction in transactions">
                <td>{{transaction.customer.lastname}}, {{transaction.customer.firstname}}</td>
                <td>{{transaction.pedelec.manufacturerId}}</td>
                <td>{{transaction.startDateTime | date:'medium'}}</td>
                <td><span ng-show="!pedelec.inTransaction || !$first">{{transaction.endDateTime | date:'medium'}}</span></td>
                <td>{{transaction.fromStation.name}} <span class="badge">{{transaction.fromStation.slotPosition}}</span></td>
                <td>
                    <span ng-show="!pedelec.inTransaction || !$first">{{transaction.toStation.name}}
                        <span class="badge">{{transaction.toStation.slotPosition}}</span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>