<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Station</h1>
        </div>
    </div>
    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
          ng-submit="create()">

        <div class="panel-body">
            <table class="table">
            <tr>
                <th><label translate="stations.create.form.name">Name</label></th>
                <td><input type="text" class="form-control" name="name"
                       ng-model="station.name" ng-minlength=1 ng-maxlength=255 required></td>
            </tr>

            <tr>
                <th><label translate="stations.create.form.manufacturerId">Manufacturer ID</label></th>
                <td><input type="text" class="form-control" name="manufacturerId"
                       ng-model="station.manufacturerId" ng-minlength=1 ng-maxlength=255 required></td>
            </tr>

            <tr>
                <th><label translate="stations.create.form.streetAndHousenumber">Street</label></th>
                <td><input type="text" class="form-control" name="addressStreet"
                       ng-model="station.address.streetAndHousenumber" ng-minlength=1 ng-maxlength=255 required></td>
            </tr>

            <tr>
                <th><label translate="stations.create.form.zip">ZIP</label></th>
                <td><input type="text" class="form-control" name="addressZip"
                       ng-model="station.address.zip" ng-minlength=1 ng-maxlength=255 required></td>
            </tr>

            <tr>
                <th><label translate="stations.create.form.city">City</label></th>
                <td><input type="text" class="form-control" name="addressCity"
                       ng-model="station.address.city" ng-minlength=1 ng-maxlength=255 required></td>
            </tr>

            <tr>
                <th><label translate="stations.create.form.country">Country</label></th>
                <td><input type="text" class="form-control" name="addressCountry"
                       ng-model="station.address.country" ng-minlength=1 ng-maxlength=255 required></td>
            </tr>

            <tr>
                <th><label translate="stations.create.form.coordinates.title">Coordinates</label></th>
                <td>
                    <label translate="stations.create.form.coordinates.locationLatitude">Latitude:</label>
                    <input type="text" class="form-control" name="locationLatitude"
                           ng-model="station.locationLatitude" ng-minlength=1 ng-maxlength=255 required>
                    <label translate="stations.create.form.coordinates.locationLongitude">Longitude</label>
                    <input type="text" class="form-control" name="locationLongitude"
                           ng-model="station.locationLongitude" ng-minlength=1 ng-maxlength=255 required>
                </td>
            </tr>

            <tr>
                <th><label translate="stations.create.form.state">Station State</label></th>
                <td>
                    <select type="text" class="form-control" name="state"
                            ng-model="station.state" required>
                        <option value="" selected disabled>Choose...</option>
                        <option value="OPERATIVE">OPERATIVE</option>
                        <option value="INOPERATIVE">INOPERATIVE</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th><label translate="stations.create.form.note">Note</label></th>
                <td><input type="text" class="form-control" name="note"
                       ng-model="station.note" ng-minlength=1 ng-maxlength=255 required></td>
            </tr>

        </table>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="clear()" translate="stations.create.cancel">Clear
            </button>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="stations.create.save">Save</button>
        </div>
    </form>
</div>