<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Stations</h1>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th></th>
                    <th>Name</th>
                    <th>Manufacturer ID</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>Allocation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="station in stations" data-parent="#stations-table" data-toggle="collapse" data-target="#{{station.stationId}}" ng-click="getStationDetails(station)">
                    <td><a class="dropdown-toggle" data-toggle="dropdown"  href="javascript:;">
                        <span class="fa fa-angle-right"></span>
                    </a></span></td>
                    <td>{{station.name}}</td>
                    <td>{{station.manufacturerId}}</td>
                    <td><small>{{station.address.streetAndHousenumber + ', ' + station.address.zip + ', ' + station.address.city + ', ' + station.address.country}}</small></td>
                    <td>{{station.state}}</td>
                    <td>{{station.numFreeSlots}} / {{station.numAllSlots}}</td>
                    <td><a ui-sref="stationDetail({stationId:{{station.stationId}}})">Details</a></td>
                </tr>
                <tr ng-repeat-end>
                    <td colspan="7" class="hiddenRow"><div class="accordian-body collapse" id="{{station.stationId}}">
                        <table class="table table-bordered remove-margin">
                            <thead>
                                <tr>
                                    <th>Slot</th>
                                    <th>Manufacturer ID</th>
                                    <th>State</th>
                                    <th>Occupied</th>
                                    <th>Pedelec (Manufacturer ID)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="slot in station.slots">
                                    <td>{{slot.slotPosition}}</td>
                                    <td>{{slot.manufacturerId}}</td>
                                    <td>{{slot.state}}</td>
                                    <td class="text-center">{{slot.isOccupied | occupiedFilter}}</td>
                                    <td>{{slot.pedelec | pedelecViewFilter}}</td>
                                    <td>
                                        <button type="submit"
                                                ng-click="showUpdate(station.id)"
                                                class="btn">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button type="submit"
                                                ng-click="delete(station.id)"
                                                class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
