<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" translate="transactions.title">Transactions</h1>
        </div>
    </div>

    <div class="table-responsive">
        <table st-table="transactions" st-safe-src="sfTransactions" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="transactionId">ID</th>
                <th st-sort="fleetManagerLogin" translate="transactions.table.header.fleetManagerLogin">Manager Login</th>
                <th st-sort="cardId" translate="transactions.table.header.cardId">Card ID</th>
                <th st-sort="pedelec.manufacturerId" translate="transactions.table.header.pedelec">Pedelec</th>
                <th st-sort="startDateTime" st-sort-default="reverse" translate="transactions.table.header.startTime">
                    Start
                    Time
                </th>
                <th st-sort="endDateTime" translate="transactions.table.header.endTime">End Time</th>
                <th st-sort="fromStation.name" translate="transactions.table.header.fromLocation">From Location</th>
                <th st-sort="toStation.name" translate="transactions.table.header.toLocation">To Location</th>
                <th></th>
            </tr>
            <th>
                <input st-search="transactionId" placeholder="search for ID"
                       class="input-sm form-control" type="search"/>
            </th>
            <th>
                <input st-search="fleetManagerLogin" placeholder="search for fleetManagerLogin"
                       class="input-sm form-control" type="search"/>
            </th>
            <th>
                <input st-search="cardId" placeholder="search for card ID" class="input-sm form-control"
                       type="search"/>
            </th>
            <th>
                <input st-search="pedelec.manufacturerId" placeholder="search for pedelec manufacturer ID"
                       class="input-sm form-control" type="search"/>
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                <input st-search="fromStation.name" placeholder="search for from location"
                       class="input-sm form-control" type="search"/>
            </th>
            <th>

            </th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in transactions" ng-class="{info: !transaction.toStation}">
                <td><span class="h5">{{transaction.transactionId}}</span></td>
                <td><span class="h5">{{transaction.fleetManagerLogin}}</span></td>
                <td><span class="h5">{{transaction.cardId}}</span></td>

                <td>
                    <a ui-sref="pedelecDetail({pedelecId: transaction.pedelec.pedelecId})"><span class="h5 small">{{transaction.pedelec.manufacturerId}}</span></a>
                </td>

                <td>{{transaction.startDateTime | date:'short'}}</td>
                <td>{{transaction.endDateTime | date:'short'}}</td>

                <td>
                    <a ui-sref="stationDetail({stationId: transaction.fromStation.stationId})"><span class="small">{{transaction.fromStation.name}}</span></a>
                    <span class="label label-info">Slot {{transaction.fromStation.slotPosition}}</span>
                </td>
                <td>
                    <a ui-sref="stationDetail({stationId: transaction.toStation.stationId})">
                        <span class="small"
                              ng-hide="transaction.toStation.name == null">{{transaction.toStation.name}}</span></a>
                    <span ng-hide="transaction.toStation.name == null" class="label label-info">Slot {{transaction.toStation.slotPosition}}</span>
                </td>
                <td>
                    <button type="button" class="btn btn-danger pull-right btn-xs"
                            ng-click="kill(transaction.transactionId)">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span translate="transactions.table.body.kill">Kill</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
