<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" translate="transactions.title">Transactions</h1>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="transactions.table.header.customer">Customer</th>
                <th translate="transactions.table.header.pedelec">Pedelec</th>
                <th translate="transactions.table.header.startTime">Start Time</th>
                <th translate="transactions.table.header.endTime">End Time</th>
                <th translate="transactions.table.header.fromLocation">From Location</th>
                <th translate="transactions.table.header.toLocation">To Location</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in transactions">
                <td>{{transaction.customer.lastname}}, {{transaction.customer.firstname}}</td>
                <td>{{transaction.pedelec.manufacturerId}}</td>
                <td>{{transaction.startDateTime | date:'medium'}}</td>
                <td>{{transaction.endDateTime | date:'medium'}}</td>
                <td>{{transaction.fromStation.name}} <span class="badge">{{transaction.fromStation.slotPosition}}</span></td>
                <td><span ng-hide="transaction.toStation.name == null">{{transaction.toStation.name}} <span class="badge">{{transaction.toStation.slotPosition}}</span></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
