.development {
    position: fixed;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 2000;
    background-image: url("../images/development_ribbon.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 463px;
    height: 640px;
    background-image: url("../images/hipster.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert-top-right {
    z-index: 3000;
    position: fixed;
    top: 70px;
    right: 20px;
    width: 600px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

.selectedNavItem {
    background-color: #EEEEEE;
}

.hiddenRow {padding: 0 !important;}

.remove-margin {
    margin: 0;
}

/* end Password strength bar style */

/* override for date select */

.dateSelector select {
    width: 100% !important;
}


/* customizations for stations table view */

.stations-inside {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 2px;
}

.stations-inside-table th {
    background-color: #EEEEEE;
}

.stations-inside-table td {
    background-color: #fdfdfd;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/*
  make password strength bar appear inline
*/
#strengthBar {
    display: inline;
}

.progress-bar {
    white-space:nowrap;
    color:black;
}
