<div class="form-inline"> 
  <div class="form-group col-xs-3">
        <select name="dateFields.day" ng-model="dateFields.day" placeholder="Day" class="form-control"
    ng-options="day for day in days" ng-change="upDate()"></select>
      </div>
  <div class="form-group col-xs-5">
        <select name="dateFields.month" ng-model="dateFields.month" placeholder="Month" class="form-control"
    ng-options="month.value as month.name for month in months" value="{{dateField.month}}" ng-change="upDate()"></select>
      </div>
  <div class="form-group col-xs-4">
        <select name="dateFields.year" ng-model="dateFields.year" placeholder="Year"
    class="form-control" ng-options="year for year in years" ng-change="upDate()"></select>
      </div>
</div>