<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BikeMan</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/famfamfam-flags.css">
    <link href="styles/font-awesome.css" rel="stylesheet">
    <link href="styles/sb-admin.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body ng-app="bikeManApp" ng-controller="MainController">

<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<alert data-ng-animate="'fade'" class="alert-top-right" ng-repeat="successAlert in successAlerts" type="success" close="closeSuccess($index)" ng-cloak>{{successAlert.msg}}</alert>

<div class="development"></div>
<div id="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-switch="authenticated" style="margin-bottom: 0" ng-cloak>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main">BikeMan</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown pointer" on-toggle="toggled(open)">
                <a href class="dropdown-toggle">
                            <span>
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="hidden-tablet" translate="global.menu.account.main" translate-values="{username: '{{account.login | usernameFilter}}'}">
                                    Accountss
                                </span>
                                <b class="caret"></b>
                            </span>
                </a>
                <ul class="dropdown-menu" ng-controller="MenuController">
                    <!--<li ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>-->
                        <!--&nbsp;<span translate="global.menu.account.settings">Settings</span></a></li>-->
                    <li ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                        &nbsp;<span translate="global.menu.account.password">Password</span></a></li>
                    <li ng-switch-when="true"><a ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span>
                        &nbsp;<span translate="global.menu.account.logout">Log out</span></a></li>
                    <li ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                        &nbsp;<span translate="global.menu.account.login">Authenticate</span></a></li>
                </ul>
            </li>


            <li ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)" class="dropdown pointer" on-toggle="toggled(open)"
                ng-controller="AdminController">
                <a class="dropdown-toggle" href>
                            <span>
                                <span class="glyphicon glyphicon-tower"></span>
                                <span class="hidden-tablet" translate="global.menu.admin">Admin</span>
                                <b class="caret"></b>
                            </span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                        &nbsp;<span translate="global.menu.account.metrics">Metrics</span></a></li>
                    <li><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                        &nbsp;<span translate="global.menu.account.audits">Audits</span></a></li>
                    <li><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                        &nbsp;<span translate="global.menu.account.logs">Logs</span></a></li>
                    <li><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                        &nbsp;<span translate="global.menu.account.apidocs">API Docs</span></a></li>
                    <li><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                        &nbsp;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                </ul>
            </li>

            <!-- /.dropdown -->
            <li class="dropdown pointer" on-toggle="toggled(open)" ng-controller="LanguageController">
                <a class="dropdown-toggle" href>
                            <span>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
                </a>
                <ul class="dropdown-menu">
                    <li active-menu="en">
                        <a href="" ng-click="changeLanguage(&apos;en&apos;)"><span class="famfamfam-flag-gb"></span>
                            &nbsp;<span translate="global.language.en">English</span></a>
                    </li>
                    <li active-menu="de">
                        <a href="" ng-click="changeLanguage(&apos;de&apos;)"><span class="famfamfam-flag-de"></span>
                            &nbsp;<span translate="global.language.de">German</span></a>
                    </li>

                </ul>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default navbar-static-side" role="navigation" ng-switch-when="true" metis-menu>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <!--<li class="sidebar-search">-->
                        <!--<div class="input-group custom-search-form">-->
                            <!--<input type="text" class="form-control" placeholder="Search...">-->
                                <!--<span class="input-group-btn">-->
                                <!--<button class="btn btn-default" type="button">-->
                                    <!--<i class="fa fa-search"></i>-->
                                <!--</button>-->
                            <!--</span>-->
                        <!--</div>-->
                        <!--<!-- /input-group -->
                    <!--</li>-->
                    <li>
                        <a ui-sref="main"><i class="fa fa-dashboard fa-fw"></i>
                            <span translate="global.menu.home"> Home</span>
                        </a>
                    </li>
                    <li ng-show="isAuthorized([userRoles.admin, userRoles.manager ])">
                        <a href="#"><i class="fa fa-desktop fa-fw"></i>
                            <span translate="global.menu.management.title">Management</span>
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="customers">
                                    <span translate="global.menu.management.custOverview">Customer Overview</span>
                                </a>
                            </li>
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="customerCreate">
                                    <span translate="global.menu.management.custCreate">Create Customer</span>
                                </a>
                            </li>

                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="majorcustomers">
                                    <span translate="global.menu.management.majorcustomerOverview">Majorcustomer Overview</span>
                                </a>
                            </li>
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="majorcustomerCreate">
                                    <span translate="global.menu.management.majorcustomerCreate">Create Majorcustomer</span>
                                </a>
                            </li>

                            <li ng-show="isAuthorized(userRoles.admin)" ui-sref-active="selectedNavItem">
                                <a ui-sref="fleetmanagers">
                                    <span translate="global.menu.management.fleetOverview">Fleetmanager Overview</span>
                                </a>
                            </li>
                            <li ng-show="isAuthorized(userRoles.admin)" ui-sref-active="selectedNavItem">
                                <a ui-sref="fleetmanagerCreate">
                                    <span translate="global.menu.management.fleetCreate">Create Fleetmanager</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li ng-show="isAuthorized(userRoles.major_customer) && !isAuthorized(userRoles.manager)" ui-sref-active="selectedNavItem">
                        <a ui-sref="cardaccounts">
                            <i class="glyphicon glyphicon-barcode"></i>
                            <span translate="global.menu.cardaccounts">Card Accounts</span>
                        </a>
                    </li>

                    <li ng-show="isAuthorized([userRoles.admin, userRoles.manager])" ui-sref-active="active">
                        <a href="#"><i class="glyphicon glyphicon-record fa-fw"></i>
                            <span translate="global.menu.station.title">Station Control</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="stations">
                                    <span translate="global.menu.station.overview">Station Overview</span>
                                </a>
                            </li>
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="stationCreate">
                                    <span translate="global.menu.station.create">Create Station</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li ng-show="isAuthorized([userRoles.admin, userRoles.manager])">
                        <a href="#"><i class="glyphicon glyphicon-send fa-fw"></i>
                            <span translate="global.menu.pedelec.title">Pedelec Control</span>
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="pedelecs">
                                    <span translate="global.menu.pedelec.overview">Pedelec Overview</span>
                                </a>
                            </li>
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="pedelecCreate">
                                    <span translate="global.menu.pedelec.create">Create Pedelec</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li ng-show="isAuthorized([userRoles.admin, userRoles.manager])">
                        <a href="#"><i class="fa fa-book fa-fw"></i>
                            <span translate="global.menu.driverlog.title">Driver's Logbook</span>
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="transaction">
                                    <span translate="global.menu.driverlog.allTransactions">All Transactions</span>
                                </a>
                            </li>
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="closedTransaction">
                                    <span translate="global.menu.driverlog.closedTransactions">Closed Transactions</span>
                                </a>
                            </li>
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="openTransaction">
                                    <span translate="global.menu.driverlog.openTransactions">Open Transactions</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>


                    <li ng-show="isAuthorized([userRoles.admin, userRoles.manager])">
                        <a href="#"><i class="fa fa-book fa-fw"></i>
                            <span translate="global.menu.majorcustomerlog.title">Majorcustomer's Logbook</span>
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="majorcustomer_transaction">
                                    <span translate="global.menu.driverlog.allTransactions">All Transactions</span>
                                </a>
                            </li>
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="majorcustomer_closedTransaction">
                                    <span translate="global.menu.driverlog.closedTransactions">Closed Transactions</span>
                                </a>
                            </li>
                            <li ui-sref-active="selectedNavItem">
                                <a ui-sref="majorcustomer_openTransaction">
                                    <span translate="global.menu.driverlog.openTransactions">Open Transactions</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <!-- show global error messages here -->
        <div class="row">
            <alert class="voffset3" ng-repeat="errorAlert in errorAlerts" type="danger" close="closeAlert($index)" ng-cloak>
                <h4>{{errorAlert.msg}}</h4>
                <ul ng-repeat="error in errorAlert.errors">
                    <li>{{error}}</li>
                </ul>
            </alert>
            <div class="col-lg-12">
                <div class="" ui-view=""></div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- build:js scripts/scripts.js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-dynamic-locale/src/tmhDinamicLocale.js"></script>

<script src="scripts/truncate.js"></script>
<script src="scripts/utils.js"></script>

<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/metisMenu/dist/jquery.metisMenu.js"></script>
<script src="scripts/http-auth-interceptor.js"></script>
<script src="scripts/sb-admin.js"></script>

<script src="scripts/app.js"></script>

<script src="scripts/directives.js"></script>
<script src="scripts/dateSelect.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/filters.js"></script>
<script src="scripts/transaction/router.js"></script>
<script src="scripts/transaction/controller.js"></script>
<script src="scripts/transaction/service.js"></script>
<script src="scripts/station/router.js"></script>
<script src="scripts/station/controller.js"></script>
<script src="scripts/station/service.js"></script>
<script src="scripts/stationslot/router.js"></script>
<script src="scripts/stationslot/controller.js"></script>
<script src="scripts/stationslot/service.js"></script>
<script src="scripts/customer/router.js"></script>
<script src="scripts/customer/controller.js"></script>
<script src="scripts/customer/service.js"></script>
<script src="scripts/majorcustomer/router.js"></script>
<script src="scripts/majorcustomer/controller.js"></script>
<script src="scripts/majorcustomer/service.js"></script>
<script src="scripts/pedelec/router.js"></script>
<script src="scripts/pedelec/controller.js"></script>
<script src="scripts/pedelec/service.js"></script>
<script src="scripts/fleetmanager/router.js"></script>
<script src="scripts/fleetmanager/controller.js"></script>
<script src="scripts/fleetmanager/service.js"></script>
<script src="scripts/cardaccount/service.js"></script>
<script src="scripts/cardaccount/router.js"></script>
<script src="scripts/cardaccount/controller.js"></script>

<!-- endbuild -->
</body>


</html>
