<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Velocity</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/famfamfam-flags.css">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="styles/sb-admin.css" rel="stylesheet">
</head>

<body ng-app="velocityApp" ng-controller="MainController">

<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="development"></div>
<div id="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main">Velocity</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right" ng-switch="authenticated">

            <li class="dropdown pointer">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <span>
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="hidden-tablet" translate="global.menu.account.main">
                                    Account
                                </span>
                                <b class="caret"></b>
                            </span>
                </a>
                <ul class="dropdown-menu" ng-controller="MenuController">
                    <li ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                        &nbsp;<span translate="global.menu.account.settings">Settings</span></a></li>
                    <li ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                        &nbsp;<span translate="global.menu.account.password">Password</span></a></li>
                    <li ng-switch-when="true"><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                        &nbsp;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                    <li ng-switch-when="true"><a ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span>
                        &nbsp;<span translate="global.menu.account.logout">Log out</span></a></li>
                    <li ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                        &nbsp;<span translate="global.menu.account.login">Authenticate</span></a></li>
                </ul>
            </li>


            <li ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)" class="dropdown pointer"
                ng-controller="AdminController">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <span>
                                <span class="glyphicon glyphicon-tower"></span>
                                <span class="hidden-tablet" translate="global.menu.admin">Admin</span>
                                <b class="caret"></b>
                            </span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                        &nbsp;<span translate="global.menu.account.metrics">Metrics</span></a></li>
                    <li><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                        &nbsp;<span translate="global.menu.account.audits">Audits</span></a></li>
                    <li><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                        &nbsp;<span translate="global.menu.account.logs">Logs</span></a></li>
                    <li><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                        &nbsp;<span translate="global.menu.account.apidocs">API Docs</span></a></li>
                </ul>
            </li>

            <!-- /.dropdown -->
            <li class="dropdown pointer" ng-controller="LanguageController">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <span>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
                </a>
                <ul class="dropdown-menu">
                    <li active-menu="en">
                        <a href="#" ng-click="changeLanguage(&apos;en&apos;)"><span class="famfamfam-flag-gb"></span>
                            &nbsp;<span translate="global.language.en">English</span></a>
                    </li>
                    <li active-menu="de">
                        <a href="#" ng-click="changeLanguage(&apos;de&apos;)"><span class="famfamfam-flag-de"></span>
                            &nbsp;<span translate="global.language.de">German</span></a>
                    </li>

                </ul>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a ui-sref="main"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop fa-fw"></i> Management<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a ui-sref="#">User Management</a>
                            </li>
                            <li>
                                <a ui-sref="#">Fleetmanager Overview</a>
                            </li>
                            <li>
                                <a ui-sref="#">Add Fleetmanager</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-record fa-fw"></i> Station Control<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a ui-sref="stations">Station Overview</a>
                            </li>
                            <li>
                                <a ui-sref="stationCreate">Create new Station</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="#"><i class="glyphicon glyphicon-send fa-fw"></i> Pedelec Control<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a ui-sref="pedelecs">Pedelec Overview</a>
                            </li>
                            <li>
                                <a ui-sref="pedelecCreate">Create new Pedelec</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-book fa-fw"></i> Driver's Logbook<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a ui-sref="main">All Transactions</a>
                            </li>
                            <li>
                                <a ui-sref="main">Closed Transactions</a>
                            </li>
                            <li>
                                <a ui-sref="main">Open Transactions</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12 voffset3">
                <div class="" ui-view=""></div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- build:js scripts/scripts.js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!--<script src="bower_components/angular-route/angular-route.js"></script>-->
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-dynamic-locale/src/tmhDinamicLocale.js"></script>
<script src="scripts/http-auth-interceptor.js"></script>
<script src="scripts/truncate.js"></script>
<script src="scripts/utils.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/directives.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tab.js"></script>
<script src="scripts/transaction/router.js"></script>
<script src="scripts/transaction/controller.js"></script>
<script src="scripts/transaction/service.js"></script>
<script src="scripts/station/router.js"></script>
<script src="scripts/station/controller.js"></script>
<script src="scripts/station/service.js"></script>
<script src="scripts/stationslot/router.js"></script>
<script src="scripts/stationslot/controller.js"></script>
<script src="scripts/stationslot/service.js"></script>
<script src="scripts/customer/router.js"></script>
<script src="scripts/customer/controller.js"></script>
<script src="scripts/customer/service.js"></script>
<script src="scripts/pedelec/router.js"></script>
<script src="scripts/pedelec/controller.js"></script>
<script src="scripts/pedelec/service.js"></script>
<script src="scripts/address/router.js"></script>
<script src="scripts/address/controller.js"></script>
<script src="scripts/address/service.js"></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src="bower_components/metisMenu/jquery.metisMenu.js"></script>
<!-- endbuild -->
<script src="scripts/sb-admin.js"></script>
</body>


</html>
